
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans",sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /* dark 2 */
  .text-gray{
    color: #424242;
  }
  /* dark 3 */
  .text-light-gray{
    color: #727272;
  }
  .text-primary{
    color: #FF900E;
  }
  .bg-light{
    background-color: rgba(255, 144, 14, 0.1);
  }
  .btn-primary{
    background-color: rgba(255, 144, 14, 1);
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
  }
  main{
    max-width: 1440px;
    margin: 0 auto;
  }
  main >section{
    margin-top: 130px;
  }
  .section-title{
    font-size: 2.8rem;
    font-weight: 700;
  }

  /* display flex */
  .display-flex{
    display: flex;
  }
  /* nav related styles */
  .navbar{
    justify-content: space-between;
    align-items: center;
   
  }
  .barnd{
    font-weight: 700;
    font-size: 2.8rem;
  }
.nav-links li a{
    text-decoration: none;
    font-weight: 500;
    font-size: ;
   
}
.nav-item{
    list-style: none;
    margin: 0 30px;
}
.navbar, .banner{
   max-width: 1440px;
   margin: 0 auto; 
}
/* banner style */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;

}
.banner-img{
    width: 100%;
}
.tems{
   align-items: center;
}
.tems-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-fearures{
    margin-left:130px;
    max-width: 530px;
}

#Quick-list{
    font-weight: 500;
}
/* some fact releted style */
.facts-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: ;
}
.fact-card{
    border: 1px solid #FF900E;
    height: 240px;
    width: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}
.fact-name{
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: 10px;
}
.fact-discription{
    max-width: 540px;
}
/* sponsor releted styles */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}
.sponsor-companis{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.sponsor-companis img{
    filter: grayscale(100%);
}
.gray{
    filter: grayscale();
}


/* responsive media query */
@media screen and (max-width:576px) {
    .navbar,
     .nav-links, 
     .tems {
        flex-direction: column;
    }
    .tems-img-container, .facts-container,.sponsor-companis {
        grid-template-columns: repeat(1, 1fr);
    }
    .our-fearures{
        margin-left: 20px;
    }
    .facts-container,.sponsor-companis{
        justify-items: center;
        gap: 24px;
    }
}


/* medium device */
@media screen and (min-width:576px) and (max-width:992px) {
    .tems{
        flex-direction: column;
    }
    .our-fearures{
        margin: 50px auto;
    }
    .sponsor-companis,  .facts-container{
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-items: center;
    }
}
